<link rel="stylesheet" href="/Invoxa/FrontEnd/Components/sidemenu/Styles/sidemenu.css">

<div class="sidemenu-container">
    <button contenido="dashboard">
        <img src="/Invoxa/FrontEnd/Api/sidemenu/dashboard.png" alt="dashboard" class="btn-icon">
        DASHBOARD
    </button>
    <button contenido="facturas">
        <img src="/Invoxa/FrontEnd/Api/sidemenu/facturas.png" alt="facturas" class="btn-icon">
        FACTURAS
    </button>
    <button contenido="reportes">
        <img src="/Invoxa/FrontEnd/Api/sidemenu/reportes.png" alt="reportes" class="btn-icon">
        REPORTES
    </button>
    <button contenido="proveedores">
        <img src="/Invoxa/FrontEnd/Api/sidemenu/proveedores.png" alt="proveedores" class="btn-icon">
        PROVEEDORES
    </button>
    <button contenido="usuarios">
        <img src="/Invoxa/FrontEnd/Api/sidemenu/usuarios.png" alt="usuarios" class="btn-icon">
        USUARIOS
    </button>
    <button contenido="historial">
        <img src="/Invoxa/FrontEnd/Api/sidemenu/historial.png" alt="historial" class="btn-icon">
        HISTORIAL
    </button>
</div>

<script type="module" src="Components/SideMenu/Methods/sidemenu.js"></script>
