asgiref==3.11.1
cachetools==7.1.4
certifi==2026.6.17
chardet==7.4.3
charset-normalizer==3.4.7
cssselect==1.4.0
cssutils==2.15.0
Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
encutils==1.0.0
idna==3.18
lxml==6.1.1
more-itertools==11.1.0
premailer==3.10.0
psycopg2-binary==2.9.12
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
yagmail==0.16.0
