.header-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 8px 80px;
}

.header-left {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.header-left .img {
    width: 160px; 
    height: 160px;
    position: absolute;
    left: 125px; 
    top: 100px; 
    border-radius: 50%;
    box-shadow: 0 0 0 5px #3A6EA54D;
    transform: translate(-50%, -50%); 
    z-index: 1010; 
}

.header-left .header-title {
    color: white;
    font-size: 50px;
    margin: 0;
}

#h-modulo {
    color: white;
    font-size: 50px;
    margin: 0;
    min-width: 300px; 
    text-align: right;
}
