<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Volver a iniciar sesion</title>
    <link rel="stylesheet" href="../../Css/StyleGeneral.css">
    <link rel="stylesheet" href="./Styles/back_main.css">
</head>
<body class="login-body">

    <div class="div-login-tarjeta">
        <div class="div-login-izquierda">
            <div class="div-login-logo">
                
                    <img src="../../Api/logo/circulos.svg" alt="Marca Invoxa" class="img-login-marca">
                    <img src="../../Api/logo/invoxaNombre.jpg" alt="Invoxa" class="img-login-logo">
            </div>
            
            <div class="div-login-back">

                <img src="../../Api/logo/palomita.png" alt="palomita" class="img-palomita">

                <h2 class="titulo-recuperar">¡Contraseña actualizada!</h2>
                <p class="txt-descripcion">Tu contraseña ha sido cambiada exitosamente. Ya puedes acceder a tu cuenta.</p>

                <button type="submit" id="btn-recuperar">Enviar código</button>

            </div>
            
            
            
            
        </div>

        <div class="div-login-derecha">
            <div class="div-login-panel">
                <div class="div-login-icono">
                    <img src="../../Api/logo/invoxa.png" alt="Invoxa" class="img-login-icono">
                </div>
            </div>
        </div>
    </div>

</body>
</html>